@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: local("?"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: local("?"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes menu-on {
  from {
    -webkit-transform: rotateY(-90deg);
    opacity: 0; }
  to {
    -webkit-transform: rotateY(0deg);
    opacity: 1; } }
@-moz-keyframes menu-on {
  from {
    -moz-transform: rotateY(-90deg);
    opacity: 0; }
  to {
    -moz-transform: rotateY(0deg);
    opacity: 1; } }
@keyframes menu-on {
  from {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    opacity: 0; }
  to {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }
@-webkit-keyframes menu-off {
  from {
    -webkit-transform: rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: rotateY(90deg);
    opacity: 0; } }
@-moz-keyframes menu-off {
  from {
    -moz-transform: rotateY(0deg);
    opacity: 1; }
  to {
    -moz-transform: rotateY(90deg);
    opacity: 0; } }
@keyframes menu-off {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; }
  to {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 0; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font: 13px RobotoRegular, Arial, Helvetica, Verdana, sans-serif; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.35s, background 0.35s;
  -moz-transition: border-color 0.35s, background 0.35s;
  transition: border-color 0.35s, background 0.35s; }

.clr {
  clear: both;
  height: 0px;
  display: block; }

body {
  background: #ffffff url("../img/bg.jpg") repeat;
  color: #333333;
  margin: 0;
  padding: 10px 0 0;
  font-size: 1rem;
  line-height: 2rem; }

img {
  max-width: 100%; }

p {
  font-size: 1rem;
  line-height: 1.4em; }

.line {
  min-width: 320px;
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
  height: 6px;
  background: url(../img/line.png) repeat-x; }

.wrap {
  min-width: 320px;
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
  -webkit-box-shadow: 0 7px 7px #cccccc;
  -moz-box-shadow: 0 7px 7px #cccccc;
  -o-box-shadow: 0 7px 7px #cccccc;
  box-shadow: 0 7px 7px #cccccc;
  background: #ffffff; }
  .wrap::after {
    clear: both;
    content: "";
    display: table; }

.btn {
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -khtml-border-radius: 1px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #CCC;
  cursor: pointer;
  padding: 9px 40px;
  text-decoration: none;
  border: 2px solid #fee31e;
  font: normal 1rem RobotoBold, Arial;
  background: #fbc330;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fbc330 0%, #f68321 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fbc330 0%, #f68321 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fbc330 0%, #f68321 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .btn.blue {
    background: #3CB7E0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3CB7E0 0%, #0093C7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3CB7E0 0%, #0093C7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3CB7E0 0%, #0093C7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-9 */
    border: 2px solid #72C9E5; }
  .btn.green {
    background: #ADCC38;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ADCC38 0%, #2CB14E 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ADCC38 0%, #2CB14E 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ADCC38 0%, #2CB14E 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-9 */
    border: 2px solid #9ED2A3; }
  .btn.red {
    background: #E42159;
    /* Old browsers */
    background: -moz-linear-gradient(top, #E42159 0%, #A62161 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #E42159 0%, #A62161 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #E42159 0%, #A62161 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-9 */
    border: 2px solid #D390B0; }
  .btn:hover {
    opacity: 0.8; }

h1::after, .h1::after, h2::after, .h2::after, h3::after, .h3::after {
  clear: both;
  content: "";
  display: table; }

.h1, h1 {
  font-size: 1.8rem;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: RobotoBold, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  .h1.dotted:before, h1.dotted:before {
    top: 10px; }

.h2, h2 {
  font-size: 1.3rem;
  padding: 10px 0; }
  .h2.dotted:before, h2.dotted:before {
    top: 10px; }

.center {
  text-align: center; }

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .btns .btn {
    width: 220px;
    margin-bottom: 10px; }
    .btns .btn:first-child {
      margin-bottom: 20px; }

.scroll_down {
  height: 28px;
  width: 29px;
  background-image: url(../img/scroll-down.png);
  margin: 30px auto 0; }

header {
  padding: 10px 10px 30px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .logo {
    height: auto;
    width: auto; }
    header .logo::after {
      clear: both;
      content: "";
      display: table; }
    header .logo img {
      height: auto;
      width: 40%;
      max-width: 224px;
      float: left; }
    header .logo .slogan {
      float: right;
      width: 60%;
      max-width: 280px;
      padding-left: 10px;
      font-size: 0.8em;
      line-height: 1.2em; }
  header .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .contact .phone {
      display: inline-block;
      text-decoration: none;
      color: #333333;
      font-size: 2.4rem;
      line-height: 40px;
      text-align: center;
      margin: 20px 0; }

#first {
  background-image: url(../img/first_block_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 20px; }
  #first h1, #first .h2, #first div, #first p {
    color: #ffffff; }
  #first .h2 {
    padding-bottom: 20px;
    font-size: 1.6em;
    line-height: 1.3em; }
  #first h1 + div {
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 20px 0 30px; }

#second {
  background-color: #e8e8e8;
  padding: 35px 20px 70px; }
  #second .h1 {
    font-size: 1.6rem;
    line-height: 1.4em; }
  #second .circles {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px; }
    #second .circles .circle {
      width: 100%;
      margin: 0 0 30px;
      display: inline-block;
      position: relative;
      text-align: center;
      line-height: 1.2;
      padding: 30px 10px;
      border: 1px solid #cccccc;
      background: #ffffff;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -khtml-border-radius: 4px; }
      #second .circles .circle strong {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 30px; }
      #second .circles .circle span {
        display: block;
        color: #333333;
        margin-top: 12px;
        font-size: 1rem;
        line-height: 1.4em; }

#third {
  padding: 35px 20px; }
  #third .h1 {
    font-size: 1.6rem;
    line-height: 1.4em; }
  #third .product_list {
    display: flex;
    flex-direction: column; }
    #third .product_list .product {
      border: 1px solid #ccc;
      background: #fbfbfb;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -khtml-border-radius: 4px;
      padding: 15px 10px;
      margin-bottom: 10px;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      #third .product_list .product:hover {
        -webkit-box-shadow: 0px 0px 20px #5a5a5a;
        -moz-box-shadow: 0px 0px 20px #5a5a5a;
        -o-box-shadow: 0px 0px 20px #5a5a5a;
        box-shadow: 0px 0px 20px #5a5a5a; }
      #third .product_list .product .title {
        font: bold 1.8rem/1em RobotoBold, Arial, sans-serif;
        text-align: center;
        margin-bottom: 10px; }
      #third .product_list .product .price {
        color: #f47e22;
        text-align: center;
        font: bold 1.6rem/2em RobotoBold, Arial, sans-serif; }
      #third .product_list .product .desc p {
        margin-bottom: 10px; }
      #third .product_list .product .btn {
        margin: 10px 0; }

#fourth {
  padding: 35px 20px;
  background-color: #e8e8e8; }
  #fourth table {
    border-collapse: collapse;
    background: #F6F6F3;
    max-width: 730px;
    margin: 0 auto 30px; }
    #fourth table th, #fourth table td {
      font-size: 0.8rem;
      line-height: 1.6em; }
    #fourth table th {
      padding: 4px 15px;
      background-color: #ff7f00;
      border: 1px solid #ff9429;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: normal; }
    #fourth table td {
      color: #333333;
      padding: 10px 15px;
      border: 1px solid #eeeeee;
      vertical-align: middle;
      text-align: center; }
      #fourth table td span {
        display: inline-block;
        border: 1px solid #cdcdcd;
        background-color: #fdfdfd;
        background-position: center;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px; }
      #fourth table td:nth-child(1) {
        text-align: left; }
      #fourth table td:nth-child(2) span.checked {
        border: 1px solid #f57e20;
        background-image: url("/img/check-roll.png"); }
      #fourth table td:nth-child(4) span.checked {
        border: 1px solid #8aad1f;
        background-image: url("/img/check-gate.png"); }
      #fourth table td:nth-child(3) span.checked {
        border: 1px solid #e1215c;
        background-image: url("/img/check-auto.png"); }
    #fourth table tr:nth-of-type(even) {
      background-color: #ebebeb; }
  #fourth p {
    font: bold 1.4rem/1.6em RobotoBold, Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto; }

#fifth {
  padding: 30px 10px; }
  #fifth .h1 {
    font-size: 1.6rem;
    line-height: 1.4em; }
  #fifth .advantages {
    display: flex;
    flex-direction: column; }
    #fifth .advantages .item {
      width: 100%;
      position: relative;
      margin: 30px 0; }
      #fifth .advantages .item::before {
        content: ' ';
        height: 100px;
        width: 100px;
        display: block;
        float: left; }
      #fifth .advantages .item:nth-child(1)::before {
        background: url("../img/ico_1.jpg") no-repeat;
        height: 90px; }
      #fifth .advantages .item:nth-child(2)::before {
        background: url("../img/ico_2.jpg") no-repeat; }
      #fifth .advantages .item:nth-child(3)::before {
        background: url("../img/ico_5.jpg") no-repeat; }
      #fifth .advantages .item:nth-child(4)::before {
        background: url("../img/ico_6.jpg") no-repeat; }
      #fifth .advantages .item .title {
        font-family: RobotoBold, Arial, sans-serif;
        font-size: 1.3rem;
        line-height: 1.1em;
        margin-bottom: 10px; }
  #fifth .btns + p {
    margin-bottom: 30px;
    max-width: 620px;
    margin: 0 auto; }

#sixth {
  padding: 35px 20px;
  background-color: #e8e8e8; }
  #sixth .h1 + p {
    margin: 0 auto 20px;
    max-width: 800px; }
  #sixth .flex {
    display: flex;
    flex-direction: column; }
  #sixth .video_block {
    position: relative;
    padding-bottom: 46.2%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 30px 0;
    max-width: 560px; }
    #sixth .video_block iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #sixth ul {
    padding-left: 20px; }
    #sixth ul li {
      color: #158FBD;
      font-size: 1rem;
      line-height: 1.3em;
      margin-bottom: 15px; }
      #sixth ul li span {
        color: #727272; }
  #sixth p.entry {
    margin-bottom: 20px; }

#seventh {
  display: none;
  padding: 35px 20px; }
  #seventh .calc + p {
    max-width: 684px;
    margin: 0 auto 30px; }

#eighth {
  padding: 35px 20px; }
  #eighth .works {
    width: 90%;
    margin: 0 auto; }

#nineth {
  padding: 35px 20px;
  background-color: #e8e8e8; }
  #nineth .flex {
    display: flex;
    flex-direction: column; }
  #nineth .item {
    margin: 20px 0; }
    #nineth .item .title {
      font-family: RobotoBold, Arial, sans-serif;
      font-size: 1.3rem;
      line-height: 1.1em;
      margin-bottom: 10px;
      text-align: center; }
    #nineth .item .img {
      height: 150px;
      width: 150px;
      margin: 10px auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 150px; }
    #nineth .item.item_1 .img {
      background-image: url(../img/item_1_bg.png); }
    #nineth .item.item_2 .img {
      background-image: url(../img/item_2_bg.png); }
    #nineth .item.item_3 .img {
      background-image: url(../img/item_3_bg.png); }
  #nineth .txt {
    font-size: 1.2rem;
    line-height: 1.4em;
    text-align: center; }

#tenth {
  padding: 35px 20px; }
  #tenth .h1 {
    font-size: 1.6rem;
    line-height: 1.4em; }
    #tenth .h1 + p {
      text-align: center;
      margin: 0 auto 40px;
      max-width: 600px; }
  #tenth .review {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto; }
    #tenth .review .avatar {
      width: 80%;
      max-width: 348px;
      margin: 0 auto;
      margin-bottom: 10px; }
    #tenth .review .txt p {
      margin-bottom: 15px; }
  #tenth .btn {
    padding: 9px 25px;
    margin: 30px auto 0;
    max-width: 260px;
    display: block; }

#thirteenth {
  padding: 35px 20px; }
  #thirteenth .flex {
    display: flex;
    flex-direction: column; }
  #thirteenth .contact p {
    font-size: 1.2rem;
    margin-bottom: 20px; }

footer.wrap {
  padding: 15px 20px;
  background-color: #404245;
  color: #ffffff; }
footer .flex {
  display: flex;
  flex-direction: column; }
footer p {
  margin: 10px 0;
  max-width: 340px; }

.pop_up_form {
  display: none;
  position: fixed;
  width: 320px;
  left: 50%;
  top: 40%;
  z-index: 1001;
  margin-left: -160px;
  margin-top: -100px;
  background: #ffffff; }
  .pop_up_form .title {
    font-family: RobotoBold, Arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color: #0093c7;
    color: #ffffff;
    padding: 10px 0; }
  .pop_up_form .form_row {
    margin-bottom: 15px; }
  .pop_up_form form {
    width: 100%;
    padding: 20px; }
    .pop_up_form form input {
      width: 100%;
      font-size: 1.2rem;
      line-height: 2em;
      padding: 0 10px;
      color: #333333;
      border: 1px solid #cccccc;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -o-border-radius: 0;
      -khtml-border-radius: 0; }
      .pop_up_form form input::-webkit-input-placeholder {
        font-size: 1.2rem;
        line-height: 2em;
        color: #8e8e8e; }
      .pop_up_form form input::-moz-placeholder {
        font-size: 1.2rem;
        line-height: 2em;
        color: #8e8e8e; }
      .pop_up_form form input:-moz-placeholder {
        font-size: 1.2rem;
        line-height: 2em;
        color: #8e8e8e; }
      .pop_up_form form input:-ms-input-placeholder {
        font-size: 1.2rem;
        line-height: 2em;
        color: #8e8e8e; }
      .pop_up_form form input.error {
        border: 1px solid #ff0000; }
    .pop_up_form form .tip {
      font-size: 0.8rem;
      color: #ff0000; }
    .pop_up_form form button {
      width: 80%;
      margin: 0 auto;
      display: block;
      border-radius: 1px;
      -moz-border-radius: 1px;
      -webkit-border-radius: 1px;
      -o-border-radius: 1px;
      -khtml-border-radius: 1px;
      color: #fff;
      text-transform: uppercase;
      border-radius: 2px;
      box-shadow: 1px 1px 3px #CCC;
      cursor: pointer;
      padding: 9px 40px;
      text-decoration: none;
      border: 2px solid #fee31e;
      font: normal 1rem RobotoBold, Arial;
      background: #fbc330;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fbc330 0%, #f68321 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #fbc330 0%, #f68321 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #fbc330 0%, #f68321 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
      /* IE6-9 */
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      .pop_up_form form button:hover {
        opacity: 0.8; }

@media (min-width: 480px) {
  header .logo .slogan {
    font-size: 1em; }

  #first h1, #first .h1 {
    font-size: 2rem;
    line-height: 1.6em; } }
@media (min-width: 500px) {
  header .logo .slogan {
    font-size: 1em; } }
@media (min-width: 570px) {
  .wrap {
    width: 95%; }

  .line {
    width: 95%; }

  header .logo .slogan {
    font-size: 1.4em;
    line-height: 1.1em;
    float: left; }
  header .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto 0; }
    header .contact .phone {
      margin: 0; }
    header .contact .btn {
      margin: 0; }

  #first h1, #first .h1 {
    font-size: 2.5rem; }

  .advantages .item .title {
    margin: 0 0 10px 100px; }
  .advantages .item .txt {
    margin: 0 0 0 100px; } }
@media (min-width: 680px) {
  .btns {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    max-width: 620px;
    margin: 0 auto 10px; }
    .btns .btn {
      margin: 0; }
      .btns .btn:first-child {
        margin: 0; }

  header .logo .slogan {
    font-size: 1.3em;
    line-height: 1.2em;
    float: left; }

  #first {
    padding: 55px 20px 35px; }
    #first h1 {
      font-size: 2.8rem;
      line-height: 1.4em; }

  #second .circles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    #second .circles .circle {
      width: 48%;
      margin: 0 0 10px;
      min-height: 250px; }

  #third .product_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    #third .product_list .product {
      width: 48%; }

  #fifth .advantages {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    #fifth .advantages .item {
      width: 48%; }

  #nineth .flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  #nineth .item {
    width: 48%; }
    #nineth .item .img {
      margin: 10px auto; }

  footer .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  footer p {
    font-size: 1.1rem; }
    footer p.item_1 {
      text-align: left; }
    footer p.item_2 {
      white-space: nowrap;
      padding: 0 20px; }
    footer p.item_3 {
      text-align: right; } }
@media (min-width: 768px) {
  #first h1, #first .h1 {
    font-size: 2.8rem; }
  #first h1 + div {
    font-size: 1.6rem; }
  #first .h2 {
    font-size: 2rem; }

  #seventh {
    display: block; }

  #tenth .review {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #tenth .review .avatar {
      width: 40%;
      max-width: 348px;
      margin: 0 auto;
      margin-bottom: 10px; }
    #tenth .review .txt {
      width: 60%;
      margin-left: 30px; }
      #tenth .review .txt p {
        margin-bottom: 15px;
        font-size: 1.2rem; } }
@media (min-width: 850px) {
  header .logo {
    float: left; }
  header .contact {
    float: right;
    flex-direction: column;
    margin: 0; }
    header .contact .phone {
      margin: 0 0 10px;
      font-size: 2.1em;
      line-height: 1em; } }
@media (min-width: 940px) {
  #first h1, #first .h1 {
    font-size: 2.4rem; }

  #second .circles {
    flex-direction: row;
    justify-content: space-around; }
    #second .circles .circle {
      width: 32%;
      min-height: 270px; }

  #sixth .flex {
    flex-direction: row-reverse;
    justify-content: space-between; }
  #sixth .video_block {
    width: 48%;
    padding-bottom: 32.2%; }
    #sixth .video_block iframe {
      height: 315px; }
  #sixth .advice {
    width: 48%; }

  #nineth .flex {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
  #nineth .item {
    width: 33%;
    max-width: 380px;
    padding: 0 10px;
    margin-bottom: 30px; }
    #nineth .item .img {
      margin: 20px auto; }

  #thirteenth .flex {
    flex-direction: row;
    justify-content: space-between; }
  #thirteenth .contact {
    width: 40%; }
    #thirteenth .contact p {
      margin-bottom: 40px; }
  #thirteenth .ya_map {
    width: 58%; } }
@media (min-width: 1024px) {
  body {
    padding: 30px 0 0; }

  header {
    padding: 20px; }
    header .logo {
      width: 50%; }
      header .logo .slogan {
        font-size: 1.1em;
        line-height: 1.2em; }
    header .contact {
      flex-direction: row;
      height: 55px;
      width: 47%;
      max-width: 47%; }
      header .contact .phone {
        margin: 0; }

  #first h1 {
    font-size: 3.4rem; }
  #first .h2 {
    font-size: 2.4em;
    font-family: RobotoBold, Arial, sans-serif; }

  #second .circles .circle {
    width: 30%;
    min-height: 260px;
    margin-bottom: 30px; }

  #third .product_list {
    justify-content: space-between; }
    #third .product_list .product {
      width: 33%;
      max-width: 400px; }
      #third .product_list .product .desc {
        min-height: 160px; }

  #sixth .video_block {
    padding-bottom: 30%; }

  #thirteenth .contact {
    width: 27%; }
  #thirteenth .ya_map {
    width: 71%; } }

/*# sourceMappingURL=style.css.map */
