@media (min-width: 1024px) {
  header {
      .logo {
		  width: 50%;
		  .slogan {
			  font-size: 1.1em;
			  line-height: 1.2em;
		  }
      }
      .contact {
          flex-direction: row;
		  height: 55px;
		  width: 50%;
		  max-width: 50%;
		  .phone {
			  margin: 0;
		  }
      }
  }
}