@media (min-width: 680px) {
  header {
      .logo {
          .slogan {
              font-size: 1.3em;
              line-height: 1.2em;
              float: left
          }
      }
      .contact {
      }
  }
}