@media (min-width: 680px) {
  header {
    .contact {
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  section {
    &.first {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    &.fifth {
      .video_block {
        padding-bottom: 50.9%;
      }
    }
  }
}