@media (min-width: 940px) {
  header {
    .logo {
    }
  }
  #first {
    h1, .h1 {
      font-size: 2.4rem;
    }
  }
  #second {
    .circles {
      flex-direction: row;
      justify-content: space-around;
      .circle {
        width: 32%;
        min-height: 270px;
      }
    }
  }
}