<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US" class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="description" content=""/>
		<meta name="keywords" content="" />
		<meta name="author" content="Sergei Yanovich"/>
		<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
		<title>Алютех: ворота секционные, ворота роллетные, шлагбаумы автоматические</title>
		<script type="text/javascript" src="js/libs/modernizr-2.6.1.min.js"></script>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="css/reset.css" media="screen" />
		<link rel="stylesheet" href="css/style.css" media="screen" />
		<link rel="stylesheet" href="css/print.css" media="screen" />
</head>    
<body>
    <div class="print_wrapper">
		<header class="cf" >
			<img src="images/logo_p.png" width="224" height="58" alt="Щучинский завод «Автопровод»">
			<div id="slogan">Инновации<br />стратегического назначения</div> <!-- #slogan -->
		</header>        
		<div class="print_main cf">
			
			<section class="content_inner">
								
							<span class="content_title">
								<h1><span class="dotted"></span>Новости компании</h1>
								<time class="date">25 июня 2012</time>
								<h2>Новый практичный плакат о встроенном коробе – 3D-технологии покажут то, что скрыто! </h2>
								<p class="preview">Наглядно, лаконично, чрезвычайно емко и полезно о встроенном коробе расскажет новый рекламно-информационный плакат, выполненный с использованием 3D-графики. Для знакомства с его содержанием не понадобятся даже специальные 3D-очки!s</p> 
								<br>
								<p>Яркий плакат, размещенный на стенах офисов и демонстрационных залов, не только привлечет внимание конечных потребителей, но и даст любому читателю полное представление о продукте, его преимуществах и удобстве использования роллетных систем со встроенным коробом.</p>
								<a href="#" class="news_more">Читать далее</a>						
							</span><!--  end content title -->
							
							<h3>Ввод элементов</h3>
							<p>Простота программы AluPRO гарантирует пользователям максимально быструю работу в системе. Ввод элементов охватывает окна, двери, фасады любого размера и вида. Шаг за шагом вы определяете свойства каждого элемента. Программное обеспечение ведет вас через весь конструкторский процесс таким образом, чтобы не забыть ни об одной детали.</p>
							<img src="pictures/img03.jpg" width="670" height="390" alt="">
							<h3>Статика</h3>
							<p>В базу данных программы AluPRO внесены нормы статики многих стран, поэтому нормы статики для своего региона можно задать из базы данных программы или ввести самостоятельно.</p>
							<ul>
								<li>Статика профилей: с помощью данного модуля определятся требуемый момент (Ix) для каждой стойки и ригеля.</li>
								<li>Учитываются элементы крепления и горизонтальное давление (ветер).</li>
								<li>Статика стекла: статический расчет стекла и стеклопакетов производится согласно TRLV.</li>
							</ul>
							
							<ol>
								<li>Защита от взлома</li>
								<li>Защита от солнца</li>
								<li>Защита от непогоды</li>
								<li>Экономия энергии</li>
								<li>Защита от шума</li>
								<li>Защита от посторонних взглядов</li>
							</ol>
							<p>Внесение в чертеж изоляционных и листовых материалов, утеплителя, вспомогательных линий и других элементов производится быстро и легко. Элементы чертежа могут быть выбраны и изменены. Автоматически присваиваемые описания ассоциативно изменяются вместе с элементами.Внесение в чертеж изоляционных и листовых материалов, утеплителя, вспомогательных линий и других элементов производится быстро и легко. Элементы чертежа могут быть выбраны и изменены. Автоматически присваиваемые описания ассоциативно изменяются вместе с элементами.Внесение в чертеж изоляционных и листовых материалов, утеплителя, вспомогательных линий и других элементов производится быстро и легко. Элементы чертежа могут быть выбраны и изменены. Автоматически присваиваемые описания ассоциативно изменяются вместе с элементами.</p>
							<p>Использование блоков и слоев дополняет возможности программы. Внешние CAD-приложения, такие как AutoCAD, могут запускаться через интерфейс программы. Сечения фасадных конструкций создаются быстро и легко с помощью специальных инструментов. Сечения конструкций, созданных в AluPRO, легко загружаются в СAD-систему из модуля создания сечений.</p>
							<a href="print.html" class="print">На печать</a>
							<a href="#" class="back">К списку новостей</a>
							<div class="cont_shadow"></div>
			</section>
			
			
			
		</div> <!--  close main block -->
		<footer class="cf" >
			<div class="left_foot">
				<p>&copy;&nbsp; 2012  alutech-group</p>
			</div>
			<div class="right_foot">
				<p>Site: http://alutech-group.com</p>
				<p>Address: http://alutech-group.com/feedback/sbit/</p>
			</div>
			
			
		</footer> <!--   end footer bottom -->		
	
	</div> <!-- end wrapper -->

	<!-- PLUGINS: jQuery v1.7.2 -->
	<script src="js/plugins.js"></script>	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/libs/selectivizr.min.js"></script>
		<script src="js/libs/IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/libs/PIE.js"></script>
	<![endif]-->	
</body>
</html> 