<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US" class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="description" content=""/>
		<meta name="keywords" content="" />
		<meta name="author" content="Sergei Yanovich"/>
		<title>Алютех: ворота секционные, ворота роллетные, шлагбаумы автоматические</title>
		<script type="text/javascript" src="js/libs/modernizr-2.6.1.min.js"></script>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="css/reset.css" media="screen" />
		<link rel="stylesheet" href="css/style.css" media="screen" />
		<link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" media="screen" />
</head>    
<body>
    <div class="wrapper">
		<div class="line_colors"></div>
		<div class="wrapper_inner">
		
			<header class="cf" >
				<div id="header-content">
					<a href="/" id="logo" title="Щучинский завод «Автопровод»"><img src="images/logo.png" width="224" height="58" alt="Щучинский завод «Автопровод»"></a>
					
					<div id="phone">
						<span>495</span>&nbsp;911-00-19,&nbsp;<span>495</span>&nbsp;911-66-98
					</div> <!-- end #phone -->
					
					<div id="right_block">					
						<a href="mailto:info@alutech-td.by" class="mail" title="Отправить сообщение">info@alutech-td.by</a>
						
						<!--  buttons -->						
						<div class="button header_button">
							<a href="#" class="button_inner header_button_inner "  >Обратная связь</a>
						</div> <!--  end button -->
						
						<div class="button header_button">
							<a href="#" class="button_inner header_button_inner "  >заказать продукцию</a>
						</div><!--  end button -->
						
					</div>  <!-- end right_block -->					
					<div id="slogan">Инновации<br />стратегического назначения</div> <!-- #slogan -->
				</div> <!-- end #header-content -->
				<nav>
					<ul>
						<li><a href="index.html">Главная</a></li>
						<li class="active"><a href="about.html">О компании</a></li>
						<li><a href="news.html">Новости</a></li>
						<li><a href="articles.html">Статьи</a></li>
						<li><a href="video.html">Видео</a></li>
						<li><a href="contacts.html">Контакты</a></li>
					</ul>
				</nav> <!-- navigation -->				
			</header>        
			<div class="middle cf">
					<aside class="left_aside" >
					
						<section class="aside_box products">
							<h3 class="aside_box_title" >продукция компании</h3>							
								<div class="box_inner">
									<ul  id="acc1"  class="left_menu accordion" >
										<li class="left_menu_item" >
											<div class="menu_line rolety "></div>
											<div class="menu_ico rolety_ico"></div>
											<h3 class="menu_title" ><a href="#">Роллетные системы</a></h3>
											<p>Рольставни являются эффективным  средством защиты помещений от взлома и проникновения</p>
											<ul class="sub_menu">
												<li><a href="#" >Роллеты / рольставни</a></li>
												<li><a href="#" >Роллетные ворота</a></li>
												<li><a href="#" class="active" >Роллетные решетки</a></li>
												<li><a href="#" >Автоматика для роллетных систем</a></li>
												<li><a href="#" >Антимоскитные системы</a></li>
												<li><a href="#" >Программное обеспечение</a></li>
											</ul>
										</li>
										<li class="left_menu_item" >
											<div class="menu_line gate"></div>
											<div class="menu_ico gate_ico"></div>											
											<h3 class="menu_title" ><a href="#" class="" >ВОРОТНЫЕ системы</a></h3>
											<p>Секционные ворота обладают неоспоримыми достоинствами: удобство и простота использования,надежность, безопасность</p>
											<ul class="sub_menu">
												<li><a href="#" >Роллеты / рольставни</a></li>
												<li><a href="#" >Роллетные ворота</a></li>
												<li><a href="#" >Роллетные решетки</a></li>
												<li><a href="#" >Автоматика для роллетных систем</a></li>
												<li><a href="#" >Антимоскитные системы</a></li>
												<li><a href="#" >Программное обеспечение</a></li>
											</ul>
										</li>
										<li class="left_menu_item" >
											<div class="menu_line automatics "></div>
											<div class="menu_ico automatics_ico"></div>
											<h3 class="menu_title" ><a href="#" >ДРУГИЕ системы</a></h3>
											<p>Комплексное предложение дополняется широким выбором систем автоматики для секционных ворот и роллетных систем.</p>
											<ul class="sub_menu">
												<li><a href="#" >Роллеты / рольставни</a></li>
												<li><a href="#" >Роллетные ворота</a></li>
												<li><a href="#" >Роллетные решетки</a></li>
												<li><a href="#" >Автоматика для роллетных систем</a></li>
												<li><a href="#" >Антимоскитные системы</a></li>
												<li><a href="#" >Программное обеспечение</a></li>
											</ul>
										</li>
										<li class="left_menu_item" >
											<div class="menu_line jalousie "></div>
											<div class="menu_ico jalousie_ico"></div>
											<h3 class="menu_title" ><a href="#" >ЖАЛЮЗИ</a></h3>
											<p>Рольставни являются эффективным  средством защиты помещений от взлома и проникновения</p>
											<ul class="sub_menu">
												<li><a href="#" >Роллеты / рольставни</a></li>
												<li><a href="#" >Роллетные ворота</a></li>
												<li><a href="#" >Роллетные решетки</a></li>
												<li><a href="#" >Автоматика для роллетных систем</a></li>
												<li><a href="#" >Антимоскитные системы</a></li>
												<li><a href="#" >Программное обеспечение</a></li>
											</ul>
										</li>
									</ul>
								</div> <!--  end box inner -->
							<div class="aside_shadow"></div> <!--  end box shadow -->
						</section> <!-- end sidebox  menu products-->

						<section class="aside_box sale ">
							<h3 class="aside_box_title" >Внимание! Акция!</h3>							
								<div class="box_inner">
									<div class="sale_line"></div>
										<div class="sale_img">
											<a href="#" ><img src="images/sale.jpg" width="260"  height="80" /></a>
											<div class="sale10"></div>
										</div>
										<p><span class="sale_mark" >10% СКИДКА.</span>При заказе тканевых ролет (<a href="#" >рулонных штор</a>) (<a href="#" >все системы!</a>)</p>
									<div class="sale_line"></div>
								</div> <!--  end box inner -->
							<div class="aside_shadow"></div> <!--  end box shadow -->
						</section> <!-- end sale -->
						
						
						<section class="aside_box certif">
							<h3 class="aside_box_title" >НАШИ СЕРТИФИКАТЫ</h3>							
								<div class="box_inner">
										<div class="certif_img">
											<a href="pictures/img03.jpg" class="certif_popup" >
											<img src="images/rolety.gif" /></a>
											<a href="pictures/img03.jpg" class="certif_popup">
											<img src="images/gate.gif" /></a>
											<a href="pictures/img03.jpg" class="certif_popup">
											<img src="images/profile.gif" /></a>
											<a href="pictures/img03.jpg" class="certif_popup">
											<img src="images/automatics.gif" /></a>
										</div>
									<div class="sale_line"></div>
								</div> <!--  end box inner -->
							<div class="aside_shadow"></div> <!--  end box shadow -->
						</section> <!-- end  certification-->
						
					</aside> <!-- end aside bar -->

				<section id="content">
				
						<section class="content_banner" >
							<a href="#" ><img src="images/cont_ban.jpg"/></a>
							<div class="cont_shadow"></div>
						</section> <!--  end banner content -->
						
						<section class="content_inner" >

							<span class="content_title">
								<h1><span class="dotted"></span>Роллетные системы</h1>
								<h2>Роллетные ворота</h2>
								<p class="preview" >Роллетные системы (другие названия – роллеты, рольставни) устанавливаются на оконные и дверные проемы для защиты помещений от взлома и проникновения, от солнца, ветра и дождя, от шума и посторонних взглядов.</p> 
								<br />
								<p>Группа компаний «Алютех» производит более 90% профилей и комплектующих для роллетных систем – роллформинговые и экструдированные роллетные профили, концевые профили, направляющие шины, защитные короба, боковые крышки, октогональные валы, ручные приводы. Всего более 6 тысяч позиций.</p>
							</span><!--  end content title -->
							
							<div class="catalog">
								<div class="sort_block cf">
									<div class="sort1">Сортировать:
										<select id="year" name="year" >
											<option value="">&mdash;</option>
											<option value="2">цене</option>
											<option value="3">цене</option>
											<option value="4">цене</option>
										</select>
									</div> <!-- end sort1 -->
									
									<div class="sort2">Выводить по:
										<select id="year" name="year" >
											<option value="">все</option>
											<option value="2">10</option>
											<option value="3">20</option>
											<option value="4">30</option>
										</select>
									</div> <!--  end sort2 -->
								</div><!--  end sort block -->
								
								<div class="catalog_line cf">
								
									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	

									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	
									
									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	

								</div> <!--  end catalog_line line -->
								
								<div class="catalog_line cf">
	
									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	

									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	
									
									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	

								</div> <!--  end catalog_line line -->
								
								<div class="catalog_line cf">
								
									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	

									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	
									
									<div class="catalog_item">
										<div class="catalog_img">
											<a href="#" ><img src="pictures/catalog.jpg" alt="" /></a>
										</div> <!--  end catalog img-->
										<div class="catalog_desc">
											<a href="#" >Роллетные ворота 2,5х2м</a>
											<p>удостоверяет в письменной форме, что продукция соответствует</p>
											<div class="catalog_desc_bottom">
												<div class="catalog_price">
													<div class="catalog_price_rub">15324.11 руб.</div>
													<div class="catalog_price_ye">991$</div>
												</div>
												<div class="catalog_order">
													<div class="button ">
														<a href="#" class="button_inner "  >Купить</a>
													</div><!--  end button -->
												</div> <!--  end catalog order-->
											</div> <!--  end catalog_desc_bottom -->
										</div> <!--  end catalog desc -->
									</div> <!--  end catalog item block -->	

								</div> <!--  end catalog_line line -->
								
							</div><!--  end catalog -->

							<span class="pager"><a href="#" class="arrow_l" ></a><a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a><a href="#" class="arrow_r" ></a></span> <!--  end pager -->
							
							
							<div class="cont_shadow"></div>
						</section> <!--  end content inner-->
						
				</section> <!-- end content -->
			</div> <!--  end middle -->
		</div>	<!--  end wraper_inner -->	 
    	
		<footer class="cf" >
			<div class="copyright"><p>© ООО «Алютех Инкорпорейтед»<br>1996-2012. Все права защищены.</p></div>			
			<div class="copyright">
				<p>г.Москва, ул.Таганская, д.26 <br />
				Е-mail: <a href="mailto:info@alutech-td.by" class="mail" title="Отправить сообщение">info@alutech-td.by</a></p>				
			</div> <!--  end footer copyright -->
	
			<nav>
				<ul>
					<li><a href="product.html">Каталог продукции</a></li>
					<li class="active"><a href="about.html">О компании</a></li>
					<li><a href="news.html">Новости</a></li>
					<li><a href="articles.html">Статьи</a></li>
					<li><a href="video.html">Видео</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</nav><!-- end footer navigation -->
			
			<div class="footer_social">
				
			</div>
		</footer> <!--   end footer bottom -->		
	
	</div> <!-- end wrapper -->
	
<!-- PLUGINS: jQuery v1.7.2 -->
	<script src="js/plugins.js"></script>	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/libs/selectivizr.min.js"></script>
		<script src="js/libs/IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/libs/PIE.js"></script>
	<![endif]-->
	<script src="js/jquery.fancybox-1.3.4.pack.js"></script>	
	<script src="js/accordion.js"></script>
	<script type="text/javascript" src="js/jquery.carouFredSel-5.6.4-packed.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html> 